body {
            font-family: Arial, sans-serif;
            max-width: 450px;
            margin: 40px auto;
            padding: 20px;
        }
        input, button {
            width: 100%;
            padding: 12px;
            margin: 8px 0;
            font-size: 16px;
            border-radius: 5px;
        }
        button {
            cursor: pointer;
            background-color: black;
            color: white;
            border: none;
            align-self: center;
        }